/* FOR BELLOW 600PX  */
@media only screen and (max-width: 600px) {
    

    p {
        font-size: 14px;
    }
}

/* FOR BETWEN 600-900PX */
@media only screen and (min-width: 600px) and (max-width: 900px) {
    

    p {
        font-size: 18px;
    }
}

/* FOR ABOVE 900PX */
@media only screen and (min-width: 900px) {
    

    p {
        font-size: 24px;
    }
}