body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MAIN {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 2px solid black;
    width: 1000px;
    height: 600px;
}

.box {
    width: 200px;
    height: 200px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;

}